%%% vim: set ts=4 sts=4 sw=4 et:

{deps, [
    % let it always be the first
    {lager, "2.0.0",
        {git, "https://github.com/EchoTeam/lager", "12433c0deca18a7475215b01f226a213cbdc2b09"}},
    {node_mon, "1.0.3",
        {git, "git@github.com:EchoTeam/node_mon.git", {branch, "master"}}},
    {erpc, "1.0.0",
        {git, "git@github.com:EchoTeam/erpc.git", {tag, "v1.0.0"}}},
    {dht_ring, "1.0.0",
        {git, "git@github.com:EchoTeam/dht_ring.git", {tag, "v1.0.0"}}}
]}.

{cover_enabled, false}.
